@model BlueBerry.ToysShop.Web.ViewModels.CustomerViewModel

<h1>Profile</h1>

<div>
    <h3>Customer Information</h3>
    <p>Name: @Model.FullName</p>
    <p>Email: @Model.Email</p>
</div>

<h3>Edit Profile</h3>
<form asp-controller="Customers" asp-action="EditProfile" method="post">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="FullName" value="@Model.FullName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

