
@{
    ViewData["Title"] = "CustomerRegister";
}
@model CustomerViewModel
<h1>CustomerRegister</h1>
<form asp-controller="Customers" asp-action="CustomerRegister" method ="post">
    <div>
        <label>Ad:</label>
        <input type="text" name="First">
    </div>
    <div>
        <label>Soyad:</label>
        <input type="text" name="Last">
    </div>
    <div>
        <label>E-posta:</label>
        <input  type="text" asp-for="Email"/>   
    </div>
    <div>
        <label>Şifre:</label>
        <input type="password" asp-for="Password">
    </div>
    <div>
        <input type="submit" value="Kayıt Ol">
    </div>
</form>
