
@{
    ViewData["Title"] = "GetCategory";
}
@model List<ProductViewModel>

<h1>Kategoriye Ait Tüm Ürünler</h1>

@{
    <style>
        #result-price {
            font-size: 20px;
        }
    </style>
}
@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var product in Model)
        {
            <li>
                <div class="card" style="width:300px;">
                    <div class="card-header">
                        <h5 class="card-title">@product.Name</h5>
                    </div>
                    @if (!String.IsNullOrEmpty(product.ImagePath))
                    {
                        <img class="card-img-top" src="/images/@(product.ImagePath)" alt="Card image cap" />
                    }
                    else
                    {
                        <img class="card-img-top" src="/images/not-found-image.jpg" />
                    }
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                @for (int i = 0; i < product.Rating; i++)
                                {
                                    <span class="star">&#9733;</span>
                                }
                            </div>
                            <div>
                                <span class="card-text"><strong id="result-price">@product.Price TL</strong></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" asp-controller="products" asp-action="detailsproduct" asp-route-productid="@product.Id" style="position:relative; left:-30px;">Detaylar</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Ürün bulunamadı.</p>
}