﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a target="_blank" href="https://burakneis.com/asp-net-core-identity">
            building Web apps with ASP.NET
            Core Identity
        </a>.
    </p>
</div>

@{
    var recoveryCodes = TempData["RecoveryCodes"];
    if (recoveryCodes != null)
    {
        <div class="alert alert-info mb-5">
            Your two-factor authenticator recovery codes below.
            @string.Join(",", recoveryCodes as string[] ?? new string[] {})
        </div>
    }
}
