html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  color: #ffc107;
  font-size: 1.5rem;
  cursor: pointer;
 }

.rating label:before {
  content: '\2605';
 }

.rating input:checked ~ label:before {
  content: '\2605';
}

.rating input:checked ~ label:after {
  content: '\00BD'; /* Yarım yıldız karakteri */
  position: absolute;
  left: 0;
  overflow: hidden;
}
.fa-star.checked {
    color: orange;
}